
# 秘钥文件
madao-authentication-server/src/main/resources/JWT.keystore
madao-server-config/src/main/resources/config-server.jks
*.keystore
*.jks

# IntelliJ project files
.idea
*.iml
out
gen

# Java template
*.class
*.log

